@import"../../assets/stylesheet/style.scss";

.todos{
    @include print-styles($container);
    @include print-styles($primary-text);
    margin: 20px 0;

    &-add{
        overflow: hidden;
        background: #f2f2f2;
        border:1px solid #ddd;
        box-sizing: border-box;

        form{
            background:#ffffff;
            padding: 20px; 
            border: 1px solid #ddd;
            margin: 10px;
            width: 30%;
            overflow: hidden;

            .error-label{
                color: red;
                padding-left:5px; 
            }
            h1{
                padding: 15px 5px;
            }
    
            div{
                display: inline-block;
                margin: 0px 5px; 

                input{
                    @include print-styles($primary-text);
                    outline: none;
                    border: 1px solid #adadad !important;
                    padding: 10px 50px 10px 10px;
                    display: block;
                    background: transparent;
                    border-radius: 5px;
                    font-size: 10px;
                    width: 200px;
                }

                select{
                    font-size: 10px;
                    // color: #000;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance:none;
                    -ms-appearance:none;
                    appearance: none;
                    padding: 10px 30px 10px 10px;
                    width: 120px;
                    z-index: -1;
                    background: transparent;
                }

            }
            .fa-arrow-down{
                position: relative;
                left: -20px;
                font-size: 10px;
                z-index: 1;
                pointer-events: none;
            }
    
            button{
                margin: 15px 25px;
                padding: 5px 20px;
                float: right;
                border-radius: 5px;
                background: #00bab2;
                color: #ffffff;
            }
        }
    }

    &-list{
        overflow: hidden;
        margin: 60px auto;
        background: #f2f2f2;
        padding: 20px 10px;

        h3{
            font-size: 24px;
            margin: 10px 0;
            text-align: center;
        }

        .task-list{
            box-sizing: border-box;
            border: 1px solid #ddd;
            width: 80%;
            float: left;
            padding: 10px;
            background: #ffffff;

            .desc{
                .task{
                    line-height: 1.5;
                    .main-task{
                        font-size: 24px;
                    }
                    .category{
                        font-size: 12px;
                    }
                }
            }
        }

        .done{
            display: inline-block;
            padding: 10px;
            margin: 11px 0px;
            width: 15%;

            button{
                width: 83px;
                padding: 10px 20px;
                background: #00bab2;
                color: #ffffff;
            }
        }
    }
}

