@import"../../assets/stylesheet/style.scss";

.todos{
    @include print-styles($container);
    @include print-styles($primary-text);
    margin: 20px 0;

    &-add{
        overflow: hidden;
        background: #f2f2f2;
        border:1px solid #ddd;
        box-sizing: border-box;

        &__container{
            background:#ffffff;
            padding: 20px; 
            border: 1px solid #ddd;
            margin: 10px;
            width: 30%;
            overflow: hidden;

            h1{
                margin: 10px 0;
            }

            form{
                .form-container{
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    grid-gap: 20px;

                    input{
                        @include print-styles($primary-text);
                        outline: none;
                        border: 1px solid #adadad !important;
                        padding: 10px 50px 10px 10px;
                        display: block;
                        background: transparent;
                        border-radius: 5px;
                        font-size: 10px;
                        width: 80%;
                    }
    
                    select{
                        @include print-styles($primary-text);
                        font-size: 10px;
                        // color: #000;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -o-appearance:none;
                        -ms-appearance:none;
                        appearance: none;
                        width: 100%;
                        padding: 10px 30px 10px 10px;
                    }
                }

                .fa-arrow-down{
                    position: absolute;
                    top: 13px;
                    right: 10px;
                    font-size: 10px !important;
                    z-index: 1;
                }
        
                button{
                    float: right;
                    margin-top: 35px;
                    padding: 7px 50px;
                    border-radius: 5px;
                    background: #00bab2;
                    color: #ffffff;
                }
            }
        }
        
    }
    // end 

    &-list{
        overflow: hidden;
        margin: 60px auto;
        background: #f2f2f2;
        padding: 20px 10px;

        h3{
            font-size: 24px;
            margin: 10px 0;
            text-align: center;
        }

        .modals{
            @include print-styles($primary-text);
            .confirmation{
                text-align: center;
                button{
                    color: #ffffff;
                    padding: 10px 20px;
                }
            }
        }

        .task-list{
            box-sizing: border-box;
            border: 1px solid #ddd;
            width: 100%;
            padding: 10px;
            background: #ffffff;

            .desc{
                .task{
                    line-height: 1.5;
                    .main-task{
                        font-size: 24px;
                    }
                    .category{
                        span{
                            font-weight: 600;
                        }
                        font-size: 12px;
                    }
                }
            }
        }

        .done{
            margin: 11px 0px;

            button{
                width: 83px;
                padding: 10px 20px;
                background: #00bab2;
                color: #ffffff;
            }
        }
    }
}

